@import url(http://fonts.googleapis.com/css?family=Roboto);

 body {
    background-image: url("../images/login/Loginimg.JPG");
    background-color: #cccccc;
}

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: rgb(40, 75, 224);
  padding: 10px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
    font-size: 14px;
    height: 30px;
    margin-bottom: 5px;
    border-bottom: dotted 1px black;
}
.newuser{
  float: left;
}
.newuser a{
    color: #333;
    border: none;
}
.newuser a:hover{
    color: #333;
    border: none;
    background-color: gray;
}
.forgotpass{
  float: right;
}
.forgotpass a{
    color: #333;
    border: none;
}
.forgotpass a:hover{
    color: #333;
    border: none;
    background-color: gray;
}
.staysignin{
    float: left;
    width: 100%;
    height: 30px;
    padding-top: 2px;
}
.signin{
  float: right;
}

/*POPUP CSS*/

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.registerdetails{
    height: 250px;
    width: 50%;
    background-color: lightgrey;
}
.regdetails{
    height: 285px;
    align-content: center;
}
.reganalyst{
    width: 50%;
    float: left;
    height: 200px;
    text-align: center;
    margin-top: 50px;
    border-right: dotted 1px grey;
}
.regcustomer{
    width: 50%;
    float: right;
    height: 200px;
    text-align: center;
    margin-top: 50px;
}
.registersubmit{
    text-align: center;
}
.submitbtn{
    width: 30%;
    background-color:rgb(40, 75, 224);
    color: #fff;
}
.imganalyst{
    margin-bottom: 10px;
}
.loginheader{
    height: 70px;
    background-color: blueviolet;
    margin-bottom: 20px;
}
.labelanalyst{
    border-bottom: solid 2px blue;
}
.labelcustomer{
    border-bottom: solid 2px seagreen;
}
.loginfooter{
    background-color:rgba(53, 53, 53, 1);
	float: left;
	width: 100%;
}
.modal-dialog{
    height:425px;
    margin-top: 30px;
}
.business {
    background: rgb(82,82,82);
    top: 0px;
    height: 36px;
}
.business .social {
    float: right;
    line-height: 30px;
}
.business .info-container span {
    line-height: 36px;
    display: inline-block;
    float: left;
    cursor: pointer;
}
.business .info-container {
    float: left;
}
.business .item {
    margin-right: 40px;
    position: relative;
}
.md-hidden {
    display: none !important;
}
.business, .business a {
    color: rgba(255,255,255,1);
}
a {
    text-decoration: none;
}

footer{bottom:0;}
.logofooter{
    text-align: center;
}
.logowhite{
    margin-top: 2px;
}
.ftrghts{
    text-align: center;
}
.logorights{
    text-align: left;
   /* margin-top: 15px;*/
    color: #fff;
    font-size: 14px;
	padding-left:25px;
	font-weight:normal;
	float:left;
	padding-top:12px;
	padding-bottom:10px;
}
.footericon{
    text-align: right;
    /*margin-top: 10px;*/
	padding-right:25px;
	float:right;
	padding-top:10px;
	padding-bottom:10px;
}
#headerContent{
    width:90%;
    margin:0px auto;
    position:relative;
    height:inherit;
}
.navmenu a:hover{
    border-bottom: solid 2px rgb(255, 196, 0);
    background-color:rgb(255, 196, 0);
}
.navbar-default .navbar-nav>li>a:hover{
    color: aqua;
}
header .navbar-collapse ul.navbar-nav {
    float: right;
    margin-right: 0;
}
header .navbar {
    /*min-height: 100px;*/
	
}
header ul.nav li {
    border: medium none;
    margin: 0;
}
header .navbar-nav > li {
    padding-bottom: 10px;
    padding-top: 20px;
	
}



/* =============================
21. Media queries 
============================= */

@media (min-width: 979px) and (max-width: 1200px) {
	
}

@media (min-width: 768px) and (max-width: 979px) {	
}

@media (max-width: 767px) {

  
	.navbar-brand {
		margin-top: 10px;
		border-bottom: none;
	}
	.navbar-header {
		/*margin-top: 20px;*/
		border-bottom: none;
		height:90px;
	}
	
	.navbar-nav {
		border-top: none;
		/*padding-top: 30px;*/
		float: none;
		width: 100%;
	}

	header .navbar-nav > li  {
		padding-bottom: 0;
		padding-top: 0;
	}
	
	header .nav li .dropdown-menu  {
		margin-top: 0;
	}
	
	.stats > div {
		margin-bottom: 30px;
	}

	.dropdown-menu {
	  position: absolute;
	  top: 0;
	  left: 40px;
	  z-index: 1000;
	  display: none;
	  float: left;
	  min-width: 160px;
	  padding: 5px 0;
	  margin: 2px 0 0;
	  font-size: 13px;
	  list-style: none;
	  background-color: #fff;
	  background-clip: padding-box;
	  border: 1px solid #f5f5f5;
	  border: 1px solid rgba(0, 0, 0, .15);
	  border-radius: 0;
	  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
			  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	}

	
	.navbar-collapse.collapse  {
		border: none;
		overflow: hidden;
	}
}

@media (max-width: 480px) {
	
.navbar-toggle {
    margin-top: 35px !important;
	
}
	header .navbar {
    margin-top:34px;
	
}

}

@media (max-width: 360px) {
	
.navbar-toggle {
    margin-top: 35px;
}

}




@media (max-width: 960px) {
   

/* Bootstrap collapse of navigation with a maximum width: 991px (Change it to any breakpoint you want to be collapsed) */
.navbar-header {
    float: none !important;
}

.navbar-toggle {
    display: block !important;
	margin-top: 32px;
}

.navbar-collapse.collapse {
    display: none !important;
}

.navbar-collapse.collapse.in {
    display: block !important;
  	overflow-y: auto !important;
}

.navbar-nav {
    margin: 0;
    float: none !important; 
}

.navbar-nav li {
	float: none !important;
}
	.navbar-brand {
		margin-top: 10px;
		border-bottom: none;
	}
	.navbar-header {
		/*margin-top: 20px;*/
		border-bottom: none;
		height:90px;
	}
	
	.navbar-nav {
		border-top: none;
		/*padding-top: 30px;*/
		float: none;
		width: 100%;
	}

	header .navbar-nav > li  {
		padding-bottom: 0;
		padding-top: 0;
	}
	
	header .nav li .dropdown-menu  {
		margin-top: 0;
	}
	
	.navbar-nav > li > a {
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

	


}
