<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>
    
    <appender name="sql-appender" class="ch.qos.logback.core.FileAppender">
      <file> insert.sql </file>
      <append>true</append>
      <encoder>
         <pattern>%m%n</pattern>
      </encoder>
   </appender>
    
   
    
     <logger name="jdbc.sqlonly" additivity="false">
  		<level value="error"/>
  		<appender-ref ref="sql-appender"/>
	</logger>
    
     <!-- <logger name="jdbc.sqltiming" additivity="false">
  		<level value="info"/>
  		<appender-ref ref="stdout"/>
	</logger> -->
    
    <logger name="com.marketing" level="info" />
    
    <root level="error">
        <appender-ref ref="stdout"/>
    </root>
</configuration>